.notification {
  background: #f0f0f0;
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

